// Typography
$base-font-size: 110%;
$base-line-height: 111%;
$sans-font-stack: Raleway,Helvetica,sans-serif;
$serrif-font-stack: Merriweather,Times,serif;

// Element Dimensions
$header-height: 75px;

html {
    font-size:$base-font-size;
    line-height:$base-line-height;
    font-family: $sans-font-stack;
}

h1,h2,h2 {
    font-family:$serrif-font-stack
}

h1 {
    font-size:($base-font-size*1.5)
}

h2 {
    font-size:($base-font-size*1.1)
}

body {
    background:url(/img/bamboo.jpg);
    margin:0;
    width:100%
}

///////////////////////////////////////////////////////////////////////////////
// HEADER RELATED CSS
///////////////////////////////////////////////////////////////////////////////

header {
    background-color: #030101;
    color:#EEE;
    height:$header-height;
    display: flex;
    align-items: center;
    position:fixed;
    padding:1.5%;
    left: 0;
    top:0;
    width: 100%;
}

header>img{
    height: $header-height;
    width: auto;
}

nav{
    display: inline-block;
    order: 2;
    text-align: left;
    
    ul{
        padding-left: 0;
        margin: 0;

        li:first-child{
            padding-left: 0;
        }
        li {
            line-height: $base-line-height;
            display:inline-block;
            list-style:none;
            padding: 0 3%
        }
        li:hover{
            color:white;
            font-weight: bold;
            // text-shadow: 1px 1px white;
        }
    }
}

#slogan{
    font-family: $serrif-font-stack;
    font-size: $base-font-size * 1.5
}

.header-content{
    width: 100%;
    padding: 0 2%;
    text-align: left;
    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;
}
#spacer{
    width: 100%;
    margin: 1%;
    height: $header-height;
}

///////////////////////////////////////////////////////////////////////////////
// Menu CSS
///////////////////////////////////////////////////////////////////////////////

.wrapper {
    background-color:rgba(3,1,1,.85);
    color:#EEE;
    margin:auto;
    padding: 1.5%;
    text-align:center;
    width:85%
}

.menu-item {
    vertical-align:middle
}


.menu-item>td {
    padding:2px
}

.menu-image {
    height:30px;
    width:auto
}

///////////////////////////////////////////////////////////////////////////////
// Footer CSS
///////////////////////////////////////////////////////////////////////////////

footer {
    font-family: $serrif-font-stack;

    .menu-key {
        margin: auto;
        text-align:left;
        width:35%
    }
    .dev-footer {
        font-size:$base-font-size * .6;
        text-align:center
    }
}

.footer-image {
    height:25px;
    width:auto
}