// Typography
$base-font-size: 110%;
$base-line-height: 111%;
$sans-font-stack: Raleway,Helvetica,sans-serif;
$serrif-font-stack: Merriweather,Times,serif;
$menu-row-width: 70;
// Element Dimensions
$header-height: 75px;

html {
    overflow-x: hidden;
    font-size:$base-font-size;
    line-height:$base-line-height;
    font-family: $sans-font-stack;
}

h1,h2,h2 {
    font-family:$serrif-font-stack
}

h1 {
    font-size:($base-font-size*1.5)
}

body {
    background:url(../img/bamboo.jpg);
    background-attachment: fixed;
    margin: none;
    width:100%
}

main{
    text-align: center;
}
///////////////////////////////////////////////////////////////////////////////
// HEADER RELATED CSS
///////////////////////////////////////////////////////////////////////////////

header {
    background-color: #030101;
    color:#EEE;
    height:$header-height;
    display: flex;
    align-items: center;
    position:fixed;
    padding:1%;
    left: 0;
    top:0;
    width: 99%;
}

header>img{
    height: $header-height;
    width: auto;
}

nav{
    display: inline-block;
    order: 2;
    text-align: left;

    ul{
        padding-left: 0;
        margin: 0;

        li:first-child{
            padding-left: 0;
        }
        li {
            line-height: $base-line-height;
            display:inline-block;
            list-style:none;
            padding: 0 3%
        }
        li:hover{
            color:white;
            font-weight: bold;
            // text-shadow: 1px 1px white;
        }
    }
}

#slogan{
    font-family: $serrif-font-stack;
    font-size: $base-font-size * 1.5
}

.header-content{
    width: 100%;
    padding: 0 2%;
    text-align: left;
    display: inline-flex;
    flex-flow: column;
    justify-content: space-between;
}
#spacer{
    width: 100%;
    margin: 1%;
    height: $header-height;
}

.wrapper {
    background-color:rgba(3,1,1,.85);
    color:#EEE;
    margin:auto;
    padding: 1.5% 1.5% .5%;
    width:85%
}

.menu-key {
    font-family: $sans-font-stack;
    width: 35%;
    margin: auto;
    text-align:center;
}

///////////////////////////////////////////////////////////////////////////////
// Menu CSS
///////////////////////////////////////////////////////////////////////////////

.menu-hr{
    width: 80%;
    margin-bottom: 1%;
}

.category-header-wrapper{
    width: calc((#{$menu-row-width} * 1%) - 25px);
    padding: 3% .5% .5%;
    margin: auto;
}

.category-header-wrapper:first-of-type{
    padding-top: .5%;
}

.category-name, .category-hanzi{
    line-height: $base-line-height * 1.2;
    font-family: $serrif-font-stack;
    font-size:($base-font-size * 1.4);
    display: inline;
}

.category-description{
    display: inline;
}


.menu-row{
    padding: .7% 0;
    margin: auto;
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: baseline;
}

.symbols-and-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:10%;
}
.symbols{
    min-width: 55px;
    display: inline;
}
.menu-image {
    height:23px;
    width:auto
}
.number{
    display: inline;
}
.name-and-desc{
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    text-align: left;
    width:62%;
}

.name{
    margin-bottom: 5px;
}

.food-hanzi{
    white-space: nowrap;
    text-align: right;
    width: 15%;
}
.desc{
    font-style: italic;
}

.price-and-label{
    display: flex;
    flex-direction: column;
}

.price-wrapper{
    display: flex;
    justify-content: space-between;
}

.prices{
    width: 15%;
    align-self: flex-start;
    text-align: right;
}

.price{
    float: right; 
    margin-left: auto;
    text-align: right;
}
.label{
align-self: flex-start;
}


///////////////////////////////////////////////////////////////////////////////
// Footer CSS
///////////////////////////////////////////////////////////////////////////////

.footer-disclaimer{
    font-family: $sans-font-stack;
    text-align: justify;
    text-justify: inter-word;
    text-align-last: left;
    width: 75%;
    margin: auto;
}

.dev-footer {
    text-align: center;
    font-family: $serrif-font-stack;
    padding: 5px;
    font-size:$base-font-size * .7;
}

.footer-image {
    height:20px;
    width: auto;
}